.input-group__container {
    display: flex;
    flex-direction: column;
    .input-group__input {
        background-color: $secondary-color;
        border: 2px solid $primary-color;
        border-radius: 0.25rem;
        font-size: $font-size-md;
        padding: 0.25rem;
        &:focus {
            background-color: lighten($secondary-color, 12%);
        }
      
    }
}



